.room-tenants {
  margin: 20px 0;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.room-tenants h3 {
  margin-bottom: 20px;
  color: #333;
  font-size: 1.5rem;
}

.tenants-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.tenant-card {
  background-color: #f8f9fa;
  border-radius: 6px;
  padding: 15px;
  transition: transform 0.2s;
  box-shadow: 0 0px 18px rgba(0, 0, 0, 0.3);
}

/* .tenant-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

.tenant-info h4 {
  margin: 0 0 10px 0;
  color: #2c3e50;
  font-size: 1.1rem;
}

.tenant-info p {
  margin: 5px 0;
  color: #666;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
}

.loading {
  text-align: center;
  padding: 20px;
  color: #666;
}

.error {
  text-align: center;
  padding: 20px;
  color: #dc3545;
  background-color: #f8d7da;
  border-radius: 4px;
  margin: 10px 0;
} 

.tenant-bell{
  cursor: pointer;
  position: relative;
  left: 7.5rem;
  top: 3rem;
}
.tenant-bell:hover{
  /* color: #052077; */
  color: #dc3545;
}

.tenant-details{
  position: relative;
  bottom: 3px;
}