.dashboard-container {
    padding: 16px;
    font-family: Arial, sans-serif;
    padding-bottom: 70px; /* leave space for bottom nav */
    max-width: 390px;
    margin: auto;
  }
  
  .profile-sec {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  
  .tenant-info {
    display: flex;
    flex-direction: column;
  }
  
  .tenant-name {
    margin: 0;
    font-size: 20px;
  }
  
  .room-number {
    color: gray;
    font-size: 14px;
  }
  
  .quick-actions {
    margin-top: 24px;
  }
  
  .action-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-top: 12px;
  }
  
  .action-buttons button {
    padding: 10px;
    background-color: #055072;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .other-features {
    margin-top: 24px;
  }
  
  .feature-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 12px;
  }
  
  .feature-box {
    flex: 1 1 45%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .bottom-navi {
    position: fixed;
    bottom: 150px;
    left: 190;
    width: 390px;
    height: 56px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-around;
    /* margin: auto; */
    align-items: center;
    border-top: 1px solid #ccc;
  }
  
  .bottom-nav div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
  }